.col {
    height: 200px;
    background-color: white;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.col:hover {
    background-color: lightgray;
}
.gameBox {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
}
img {
    width: 65px;
    height: 65px;
}